body{
  background-image: url(../fotos/fondo.jpg);
}
.boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.tabla{
  width: 700px;
  background: #4f19bb;
  margin: 0 auto;
}


a{
 color : #fff;
}
